nav(class="nav")
  a(class="nav-link" aria-current="page" href="/api/productos") Home
  a(class="nav-link" aria-current="page" href="/api") Add new product
  a(class="nav-link" aria-current="page" href="/api/carrito/") Cart

