nav(class="nav")
  a(class="nav-link" aria-current="page" href="/api/products") Home
  a(class="nav-link" aria-current="page" href="/api") Add Product
  a(class="nav-link" aria-current="page" href="/api/cart/") Cart