doctype html

html(style={margin: '5%'})
  include ../partials/head.pug
  body
    div(style='background-color:#f4f4f4; padding: 5%;')
      h1 Add new products 
      form(onsubmit="return addProduct(this)")
        div(class="mb-3")
          label(for="title" class="form-label") Product
          input(type="text" class="form-control" id="title" placeholder="Product Name" required)

        div(class="mb-3")
          label(for="price" class="form-label") Price
          input(type="number" class="form-control" id="price" placeholder="Price (USD)" required)

        div(class="mb-3")

          label(for="thumbnail" class="form-label") Image
          input(type="text" class="form-control" id="thumbnail" placeholder="Image URL" required)

        input(class="btn btn-primary mt-3 mb-3", type="submit", value="Submit")
    
      div(id="tableContainer" style="background-color: #ac2229; color: white;")
    br
    include ../partials/chat.pug

    script(src= "../js/index.js") 

