<div class="container">
    <br />
    <h1>Desafio 5 Motores de plantillas</h1>
    <br />

    {{#if ProductsQty}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Img</th>
            </tr>
        </thead>
        <tbody>
            {{#each Products}}
            <tr>
                <td>{{this.title}}</td>
                <td>S/.{{this.price}}</td>
                <td>
                    <img height="50px" src={{this.thumbnail}} alt="img product">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{else}}
    <h2 style={color: 'red' }>Products not found</h2>
    {{/if}}
    <a href="/" type="button" class="btn btn-success">Add new products</a>

</div>